/* GLOBAL STYLES
-------------------------------------------------- */
/*custom-font*/

@font-face {
      font-family: poppin_regular;
      src: url(font/Poppins-Regular.ttf);
}

@font-face {
      font-family: poppin_semibold;
      src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
      font-family: poppin_bold;
      src: url(font/Poppins-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppin_regular;
}

#fbIcon , #igIcon, #adminIcon{
      color: #d33127;
}


/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */
.jumbotron{
    background-image: url(img/slideMain.png);
    background-size: 100% 100%;
    height: 45rem;
    width: auto; 
    }

.btnJumbotron{
    padding-top: 25em;
    }


/* NAVIGATION
-------------------------------------------------- */
#lwLogo{
      height: 4rem;
      width: auto;
}

/* change the link color and add padding for height */
.mainNav .navbar-nav .nav-link {
    color: black;
    padding: 6px 10px;
}

/* change the color of active or hovered links */
.mainNav .nav-item.active .nav-link,
.mainNav .nav-item:hover .nav-link {
    color: #000000;
    background-color: #F7D117; /* add background-color to active links */
    border-radius: 5px;
}

#bookBtn{
      color: #000000;
}

/* All CONTENT
-------------------------------------------------- */
.home-section {
  height: 100%;
  padding-top: 4rem;
}

/*About Section*/

.about-section {
  height: 100%;
  padding-top: 6rem;
}

/*e-suite Video*/
video{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
      width: 100%;
      height: auto;
}

/*Facilities Section*/
.facilities-section {
  height: 100%;
  padding-top: 6rem;
}

.hsseRow{
     padding-top: 50px; 
}

.moreFacilityRow{
      padding-top: 50px;
}

/*Booking Steps Section*/
.bookingStep-section{
  height: 100%;
  padding-top: 6rem;
}

.stepsPhoto{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
}

/*Terms of use*/
.terms-section{
  height: 100%;
  padding-top: 6rem;
}

/*Support Section*/
.support-section{
  height: 100%;
  padding-top: 6rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .jumbotron{
    background-image: url(img/slideMain.png);
    background-size: 100% 100%;
    height: 20rem;
    }

    .btnJumbotron{
    padding-top: 10em;
    }

}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0,0,0, 0.4);
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; 
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */

 /* BOOKING UI
-------------------------------------------------- */
#homeBtn{
      color:#000000;
}

.bookingUi-section{
    height: 100%;
}

#bookGrid {
    padding-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;  
    grid-template-rows: 35rem;  
}

#bookSect{
    height: 40rem;
    width: auto;
    background-image: url(img/bg_01.png);
    background-size: cover;
}

#esuiteMap{
    max-height: 35rem;
    min-height: 10rem;
    width: auto;
}

.bg-warning{
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #F7D119;
}

#esuiteMap{
    background: rgba(235, 238, 232, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0,0,0, 0.4);
}

label a{
    color: #d33127;
}

}

/*Admin
------------------------------------------------------------*/
.adminBox{
    margin-top: 5rem;
    background:#F7D119;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px #999;
}
