html {
  scroll-behavior: smooth;
}

body{
	font-family: poppin_regular;
}

#fbIcon , #igIcon{
      color: #d33127;
}

/*responsive img*/
.img-responsive{
  width: 100%;
  height: auto;
}

/*custom-font*/

@font-face {
      font-family: poppin_regular;
      src: url(font/Poppins-Regular.ttf);
}

@font-face {
      font-family: poppin_semibold;
      src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
      font-family: poppin_bold;
      src: url(font/Poppins-Bold.ttf);
}

/*Navigation Section*/

#lwLogo{
	height: 10vh;
	width: auto;
}

/* change the link color and add padding for height */
.mainNav .navbar-nav .nav-link {
    color: black;
    padding: 6px 10px;
}

/* change the color of active or hovered links */
.mainNav .nav-item.active .nav-link,
.mainNav .nav-item:hover .nav-link {
    color: #000000;
    background-color: #F7D117; /* add background-color to active links */
    border-radius: 5px;
}

#bookBtn{
	color: #000000;
}

/*Jumbotron + Photoslider Section*/

#carouselFade{
      margin-top: 100px;
}

.carousel-inner{
      margin-top: 40px;
      height: 100%;
      width: auto;
}

.bookBtnNow{
      color: #000000;
      margin-bottom: 20%;
      padding: 10px 20px;
      font-size: 20pt;
      border-radius: 5px;
}

/*About Section*/
.aboutSect{
      min-height: 95vh;
      width: auto;
}

.aboutRow{
      height: 50vh;
      width: auto;
      padding-top: 200px;
}

/*e-suite Video*/
video{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
      width: 100%;
      height: auto;
}

/*Facilities Section*/
.facilitySect{
      min-height: 230vh;
      width: auto;

}

.facilityRow{
      padding-top: 110px;
}

.hsseRow{
     padding-top: 50px; 
}

.moreFacilityRow{
      padding-top: 50px;
}
/*Steps Of Booking*/
.booking_stepSect{
      padding-top: 110px;
      min-height: 135vh;
      width: auto;
      overflow: auto;
      text-overflow: ellipsis;
}


.booking_stepsRow{
      height: 50vh;
      width: auto;
}

.stepsPhoto{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
}
/*terms of Use*/

.touSect{
      background-image: url(img/tou_bg.svg);
      background-size: cover;
      min-height: 120vh;
      width: auto;
      overflow: auto;
}

.touRow{
      padding-top: 110px;
      height: 50vh;
      width: auto;
}

/*Support Section*/
.supportSect{
      min-height: 135vh;
      width: auto;
}

.supportRow{
      padding-top: 100px;
      align-items: center;
      height: 70vh;
      width: auto;
}

.contactUsCol01{
      padding-top: 50px;
}

.contactUsCol02{
      padding-top: 50px;
}

iframe{
      box-shadow: 5px 5px rgba(0,0,0, 0.4);
      border-radius: 5px;
}

/*Booking Section*/
.bookSect{
      height: 100vh;
      width: auto;
      background-image: url(img/bg_01.png);
      background-size: cover;
      overflow: scroll;
      
}

.bookBox{
      height: 100vh;
      width: auto;
      
}

.bookUi{
      margin-top: 30px;
      height: 70vh;
      width: auto;
      border-radius: 10px;
      background-color: #F7D119;
}

#bookSubmit{
      margin-top: 50px;
}

/*Book Sect: Map*/

.mapUi{
      margin-top:30px;
      height: 80vh;
      width: 49vh;
      border-radius: 10px;
      background: rgba(235, 238, 232, 0.5);
      overflow: inherit;
}

#esuiteMap{
      height: 100%;
      width: auto;
}

#homeBtn{
      color:#000000;
}

